<%= raw stylesheet_link_tag 'fishing' %>
<%= raw javascript_include_tag "fishing" %>

<%= raw link_to "Fishing Program List", admin_fishing_programs_path %>

<% if @fishing_program.page_content != "" %>
    <%= raw @fishing_program.page_content %>
    <% if @fishing_program.image_gallery_group_id? %>
        <table align=center>
        <% @fishing_program.image_gallery_group.subgroups.first(4).each do |group| %>
            <% if group.images.size > 0 %>
            <tr><td>
                <%= group.title %>
            </td><td>
                <%= image_tag( 
                        group.images[0].photo.url, 
                        :width => 250 ) %>
            </td></tr>
            <% end %>
        <% end %>
        </table>
    <% end %>
<% end %>

