<p>
  <b>Title:</b>
  <%=h @banner.title %>
</p>

<p>
  <b>Does image:</b>
  <%=h @banner.does_image %>
</p>

<p>
  <b>Value:</b>
  <%=h @banner.value %>
</p>

<p>
  <b>Href:</b>
  <%=h @banner.href %>
</p>

<p>
  <b>Alt:</b>
  <%=h @banner.alt %>
</p>


<%= link_to 'Edit', edit_admin_banner_path(@banner) %> |
<%= link_to 'Back', admin_banners_path %>