<div class="main_menu">
<%= admin_main_menu_button("TEAM", :team ) %>
<%= admin_main_menu_fishing_button() %>
<%= admin_main_menu_gallery_button() %>
<%= admin_main_menu_button("PRESS", :press ) %>
<%= admin_main_menu_button("BOOKING", :booking ) %>
<%= admin_main_menu_button("GUEST ROOM", :guest_room ) %>
<%= admin_main_menu_button("CONTACT", :contact ) %>
<%= admin_main_menu_button("Colors", :color, 'main_menu_just_admin_button' ) %>
<%= admin_main_menu_button("TextEffects", :text_effects, 'main_menu_just_admin_button' ) %>
<%= admin_main_menu_button("Banners", :banners, 'main_menu_just_admin_button' ) %>
</div>