<h2 align=center><u>Chavanga company</u></h2>
<p align=center>
 <%= image_tag 'home/main.jpg', :width => 600 %>
</p>
<table align=center width=99%><tr><td>
It is a lot of salmon rivers, they are in Scandinavia, on Kola, in the east of 
Russia and on Alaska. It is a lot of salmon rivers and they different. One of them 
sink down in soul, we do not come back to others never.
<br/>
In what feature of the river Chavanga?
<br/>
1. Its territory is extremely various. It is wild coast of the White sea, 
эстуарий the rivers, a mix беломорской tundra and a taiga. 
<br/>
2. The affinity of 
the sea fills the river with various fauna. Migrations of a salmon and a sea 
trout occur before our eyes. House populations of a trout and хариуса prosper 
and make rather interesting part улова. 
<br/>
3. The river is various, beginning from 
the sea, it represents a train of rifts replacing each other, reaches and falls, 
parking and spawning areas of a salmon, trout rapids and хариусовых streams. 
<br/>
4. All it is accessible to catching нахлыстом. 20 kilometres of the river from 
эстуария to the top falls are convenient for catching without assistance, motor 
boats and helicopters. 
<br/>
5. Disconnexion from an external world has kept riches of 
the river. Here there are no asphalt roads and cars, there are no turns and 
importunate neighbours. Here it is possible to remain alone with the river.
<br/>
The river Chavanga allows to you rare chance most to solve
<br/>
- What to catch 
<br/>
- where to catch 
<br/>
- how to catch. 
<br/>
Unless something else is necessary?
</td></tr></table>
<table align=center>
<tr>
<td>
 <%= image_tag 'home/p1.jpg', :width => 280 %>
</td>
<td>
 <%= image_tag 'home/p2.jpg', :width => 280 %>
</td>
</tr>
<tr>
<td>
 <%= image_tag 'home/p3.jpg', :width => 280 %>
</td>
<td>
 <%= image_tag 'home/p4.jpg', :width => 280 %>
</td>
</tr>
</table>