<%= stylesheet_link_tag 'home' %>

<p class='page_title'>Chavanga company</p>
<table align=center width=94%><tr><td>

<div align="center">
<iframe src="http://player.vimeo.com/video/51989515" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
<hr size='1' />
<div id='news_data' style="position:static;">
Loading news...
</div>

 <table align=center><tr><td>
    <%= image_tag 'home/main_1.jpg', :width => 700 %>
   </td></tr><tr><td>
    <%= image_tag 'home/main_2.jpg', :width => 700 %>
   </td></tr><tr><td>
    <%= image_tag 'home/main_3.jpg', :width => 700 %>
   </td></tr>
 </table>

</td></tr></table>

<table align=center>
<tr>
<% (1..4).map do |program_index| %>
    <td><%= link_to (image_tag 'home/p'+program_index.to_s+'.jpg', :width => 150, :border=>0), FishingProgram.find(program_index) %></td>    
<% end %>
</tr>
</table>
<br/>

<script>
    <%= remote_function( :url => { :action => :load_news_from_blog }, :update => 'news_data' ) %>
</script>
