<%= stylesheet_link_tag 'fishing' %>
<%= javascript_include_tag "fishing" %>

<% if @fishing_program.page_content != "" %>
    <%= @fishing_program.page_content %>
    <% if @fishing_program.image_gallery_group_id? %>
        <table align=center>
        <% @fishing_program.image_gallery_group.subgroups.each do |group| %>
            <tr><td>
                <%= group.title %>
            </td><td>
                <%= image_tag( 
                        group.images[0].tag, 
                        :width => 250 ) %>
            </td></tr>
        <% end %>
        </table>
    <% end %>
<% end %>

