<%= raw resizer_module %>
Pages: 
<% (1..@page_count).each do |i| %>
<% name = (i == @page)?("<b>#{i}</b>"):("#{i}") %>
<%= link_to( raw(name), :controller => "image_gallery_groups", :action => "show", :id => @image_gallery_group.id, :page => i.to_s ) %>
<% end %>
<br/>
<%= raw ((@image_gallery_group.id != @image_gallery_group.parent_group_id)?
        raw(link_to(@image_gallery_group.parent_group.title,@image_gallery_group.parent_group)+raw("<br/>")):
        ("")) %>
<p class='page_title'><%= @image_gallery_group.title %></p>
<% if @image_gallery_group.subgroups.size > 0 %>
    <ul>
    Sub Groups:
    <% @image_gallery_group.subgroups.each do |group| %>
        <li><%= link_to group.title, group %> ( images: <%= group.all_images_size %> )</li>
    <% end %>
    </ul>
<% end %>
<br/>

<table align='center'>
<% @all_images.in_groups_of(PER_COLUMN(),nil) do |row| %>
<tr>
    <% row.each do |image| %>
    <td>
        <% if image %>
            <img src='../../images/<%= image.tag %>' width='170' height='120' 
                onclick="show_full_image('../images/<%= image.tag %>');" 
                onmouseover="document.body.style.cursor = 'pointer';"
                onmouseout="document.body.style.cursor = 'default';" />
        <% end %>
    </td>
    <% end %>
</tr>
<% end %>

</table>