<p class='page_title'>Press</p>
<table align=center border='0'>
<tr>
<td align=center>
<%= link_to(
        image_tag("press/Partir Pecher/name 1.jpg"),
        :controller => :press,
        :action => :partir_pecher ) %>
</td>
<td align=center>
<%= link_to(
        image_tag("press/Peshe Muoche/name 2.jpg"),
        :controller => :press,
        :action => :peshe_mouche) %>
</td>
</tr>
<tr>
<td align=center>
<%= link_to(
        image_tag("press/Wedkarstwo39/cover_small.jpg"),
        :controller => :press,
        :action => :wedkarstwo39 ) %>
</td>
<td align=center>
<%= link_to(
        image_tag("press/Wedkarstwo56/cover_small.jpg"),
        :controller => :press,
        :action => :wedkarstwo56 ) %>
</td>
<tr>
<td align=center>
<%= link_to(
        image_tag("press/Peshe Mouche Dans/cover.jpg"),
        :controller => :press,
        :action => :peshe_mouche_dans ) %>
</td>
<td>
</td>
</tr>
</table>

