<%= form_for(@new_comment, :name => :comment, :url => { :action => "create_comment" } ) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field(:comment, :post_id, :value => @new_comment.post_id ) %>
  <table align=center border='0'>
  <tr>
    <td><%= f.label :author %>: <br/>
    <%= f.text_field :author, :value => "Chavanga", :size=>'52' %></td>
  </tr>
  <tr>
    <td colspan=2>
        <%= f.label :answer %><br />
        <%= f.text_area :answer, :cols => 50, :rows => 7 %>
    </td>
  </tr>
  <tr>
    <td colspan=2 align=center>
        <%= f.submit 'Create Comment' %>
    </td>
  </tr>
  </table>
<% end %>