<% form_for(:comment, @new_comment) do |f| %>
  <%= f.error_messages %>
  <table align=center border='0'>
  <tr>
    <td><%= f.label :title %>: <br/>
    <%= f.text_field :title, :size=>'52' %></td>
  </tr>
  <tr>
    <td colspan=2>
        <%= f.label :answer %><br />
        <%= f.text_area :answer, :cols => 50, :rows => 7 %>
    </td>
  </tr>
  <tr>
    <td colspan=2 align=center>
        <%= f.submit 'Create Comment' %>
    </td>
  </tr>
  </table>
<% end %>