<%= stylesheet_link_tag 'contact' %>

<p class='page_title'>Chavanga company</p>
<h4 style='text-align:center'>Chavanga village, Terski region, Murmansk, Russia</h4>
<h3 style='text-align:center'>Salmon Fishing Tours</h3>
<p align='center'>
<%= image_tag( "contact/sever 2006 041.jpg" ) %>
</p>
<table align=center border='0' width='340'>
<tr>
 <td>
  <table cellpadding='1' cellspacing='1'>
    <tr><td><%= image_tag("contact/flag_gb.jpg", :height => 20, :border => 1) %><td/></tr>
  </table>
 </td>
 <td valign=top>Basyl</td>
 <td valign=top>+44 7804040285</td>
</tr>
<tr><td colspan=3><hr/></td></tr>
<tr>
 <td>
  <table cellpadding='1' cellspacing='1'>
    <tr><td><%= image_tag("contact/flag_ru.jpg", :height => 20, :border => 1) %></td></tr>
    <tr><td><%= image_tag("contact/flag_lt.jpg", :height => 20, :border => 1) %></td></tr>
    <tr><td><%= image_tag("contact/flag_lv.jpg", :height => 20, :border => 1) %></td></tr>
    <tr><td><%= image_tag("contact/flag_pl.jpg", :height => 20, :border => 1) %></td></tr>
  </table>
 </td>
 <td valign=top>Vasyl</td>
 <td valign=top>+375 297815546</td>
</tr>
<tr><td colspan=3><hr/></td></tr>
<tr>
 <td>
  <table cellpadding='1' cellspacing='1'>
    <tr><td><%= image_tag("contact/flag_pl.jpg", :height => 20, :border => 1) %></td></tr>
    <tr><td><%= image_tag("contact/flag_fr.jpg", :height => 20, :border => 1) %></td></tr>
  </table>
 </td>
 <td valign=top>Pavel</td>
 <td valign=top>+48 506009721</td>
</tr>
<tr><td colspan=3><hr/></td></tr>
<tr>
 <td colspan=3>
    E-mail: <%= link_to "chavangafishing@gmail.com", "mailto:chavangafishing@gmail.com", :class => 'contacts' %>
 </td>
</tr>
</table>