<h1>Editing partner_link</h1>

<% form_for(@partner_link) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @partner_link %> |
<%= link_to 'Back', partner_links_path %>