<p>
  <b>Title:</b>
  <%=h @partner_link.title %>
</p>

<p>
  <b>Tag:</b>
  <%=h @partner_link.tag %>
</p>

<p>
  <b>Visible:</b>
  <%=h @partner_link.visible %>
</p>


<%= link_to 'Edit', edit_partner_link_path(@partner_link) %> |
<%= link_to 'Back', partner_links_path %>