<div class="left_menu_widget" id="left_menu_div">
  <div class="left_menu_widget_element">
   <div class="left_menu_widget_element_title">
    MAPS
   </div>
        <%= link_to (
                image_tag(
                    'map/name map.jpg', :height => 145, :width => 145, :alt => 'Chavanga map example'), 
                    :controller => :maps, 
                    :action => :index) %>
  </div>
  <div class="left_menu_widget_element">
        <%= render :partial => 'layouts/event_list' %>
  </div>
  <div class="left_menu_widget_element">
        <%= render :partial => 'layouts/partner_link_list' %>
  </div>
  <div class="left_menu_widget_element">
        <%= render :partial => 'layouts/additional_link_list' %>
  </div>
  <div class="left_menu_widget_element">
    <%= weather_widget %>
  </div>
</div>
<script>
    new Effect.Appear('left_menu_div', { duration: 3.0,
            afterFinish: function (obj) 
            {
                $('left_menu_div').style.opacity = 1.0;
            }
        });
</script>