<div class="main_menu">
  <div style="position: absolute; margin-left: 230px; margin-top:30px;">
    <img src="images/logo/tour.gif" alt="Special offer on 2012" height="90px" />
  </div>
  <%= raw main_menu_button("TEAM", :team ) %>
  <%= raw main_menu_fishing_button() %>
  <%= raw main_menu_gallery_button() %>
  <%= raw main_menu_button("PRESS", :press ) %>
  <%= raw main_menu_button("BOOKING", :booking ) %>
  <%= raw main_menu_button("GUEST ROOM", :guest_room ) %>
  <%= raw main_menu_button("CONTACT", :contact ) %> 
</div>