<div class="main_menu">
  <%= main_menu_button("TEAM", :team ) %>
  <%= main_menu_fishing_button() %>
  <%= main_menu_gallery_button() %>
  <%= main_menu_button("PRESS", :press ) %>
  <%= main_menu_button("BOOKING", :booking ) %>
  <%= main_menu_button("GUEST ROOM", :guest_room ) %>
  <%= main_menu_button("CONTACT", :contact ) %>
</div>
