<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= controller.controller_name.capitalize %></title>
  <%= stylesheet_link_tag 'application' %>
</head>

<%= javascript_include_tag "application" %>
<%= @map %>

<body onLoad="logoTimer = setTimeout( 'changeLogoImage( 1 );', logo_image_change_interval );">

<table width='900' height='100%' border='0' align='center' 
        class='main' cellspacing='0' cellpadding='0' >
 <tr>
    <%= render :partial => 'layouts/logo' %>
 </tr>
<tr>
  <td valign='top'>
    <%= render :partial => 'layouts/main_menu' %>
  </td>
</tr>
<tr>
  <td valign='top'>
    <%= render :partial => 'layouts/full_widget' %>
  </td>
</tr>
</table>

</body>
</html>
