<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= controller.controller_name.capitalize %></title>
  <%= stylesheet_link_tag 'application' %>
</head>

<script language="JavaScript">
  logo_image_change_interval = 5000;
  logo_image_size = 12;
  logo_pictures = new Array();
  for( i = 0 ; i < logo_image_size ; i++)
  {
    logo_pictures[i] = new Image()
    logo_pictures[i].src = '/images/logo/1A-'+(i+1)+'.jpg';
  }

  function changeLogoImage(i)
  {
        document.logo_image.src = logo_pictures[i].src;
        if (i == logo_pictures.length - 1) i = -1;
        nextImageFunc = "changeLogoImage( "+(i+1)+" );";
        setTimeout( nextImageFunc, logo_image_change_interval );
  }
</script>

<body onLoad="logoTimer = setTimeout( 'changeLogoImage( 1 );', logo_image_change_interval );">

<table width='900' height='100%' border='0' align='center' 
        class='main' cellspacing='0' cellpadding='0' >
 <tr>
    <%= render :partial => 'layouts/logo' %>
 </tr>
<tr>
  <td valign='top'>
    <%= render :partial => 'layouts/main_menu' %>
  </td>
</tr>
<tr>
  <td valign='top'>
    <%= render :partial => 'layouts/full_widget' %>
  </td>
</tr>
</table>

</body>
</html>
